<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <title>JustDance</title>
</head>
<body style="text-align: center;">

    <button> <a href="/camera/">camera</a></button>
    <button> <a href="/my-link/">Click me</a></button>


    <!--reference: https://stackoverflow.com/questions/31106189/create-a-simple-10-second-countdown  -->
    <h1> The game will begin in <span id="countdowntimer">10 </span> Seconds</h1>
    <script type="text/javascript">
        var timeleft = 10;
        var downloadTimer = setInterval(function () {
            timeleft--;
            document.getElementById("countdowntimer").textContent = timeleft;
            if (timeleft <= 0)
                clearInterval(downloadTimer);
        }, 1000);
    </script>


    <!-- <div class="box">
        <div class="item1" >
            <h3>your video </h3>
        </div>
        <div class="item2">
            <h3>JustDance </h3>
        </div> -->
    <!-- <img src="{{ url_for('video_feed') }}"> -->
</body>

</html>