<!DOCTYPE html>
<html>
<body style="text-align: center;">


    <!-- <h1 style="color: green;">
        GeeksforGeeks
    </h1>

    <h2>
        Play JustDance
    </h2>
    <p>
        <video width="500px" height="500px" controls="controls" />
        <source src="../justdance_happy_short.mp4" type="video/mp4">
        </video>
    <form action="/my-link/">
        <input type="submit" value="Click me" />
    </form> -->
    <button> <a href="/camera/">camera</a></button>
    <button> <a href="/my-link/">Click me</a></button>
    <!-- <img src="{{ url_for('video_feed') }}"> -->
</body>

</html>